body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: flexbox;
  text-align: center;
  background-image: url('img/bg.jpg'); /* фоновая картинка */
  flex-direction: column;
  min-height: 100vh;
}

.link {
  color: #164e00;
  transition: color 0.2s;
  text-align: center;
}

.link:hover {
  color: green;
}

.header {
  padding: 20px;
  border-bottom: 1px solid red;
  text-align: center;
  flex: 0;
}

.list-item {
  text-align: left;
}

.header-link {
  margin: 0 10px;
  text-align: center;
}

.main {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-grow: 1;
  padding-top: 50px;
  background-image: url('img/bg.jpg');
}

.aside {
  width: 300px;
  font: 0;
}

.main-selection {
  flex-grow: 1;
  padding-left: 50px;
}

p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.img {
  border: 2px solid rgb(7, 54, 116);
  border-radius: 25px;
}

.title {
  color: rgb(14, 148, 137);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitle {
  /*border-left: 5px solid crimson;*/
  padding-left: 10px;
  color: #164e00;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.address {
  text-align: left;
  margin-left: 15px;
}

p {
  text-align: left;
  margin-left: 15px;
}

.contacts-item {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 20px;
  width: 20px;
}

.footer {
  border-top: 1px solid rgb(122, 4, 20);
  padding: 20px;
  text-align: center;
  color: royalblue;
}
